#link_1, #link_2, #link_3{
    background-color: #FFDE00;
    font-family: fantasy;
}

#bf_list, #content table, #superform{
    background-color: #FEFFDB;
    font-family: fantasy;
}

header main, header aside{
    background-color: #00BCFF;
    font-family: fantasy;
    vertical-align: middle;
    height: 100%;
}

table td, th{
  border: 1px solid black;
}

table {
  width: 100%;
}

table_odd {
    background-color:#B9FFD3;
}

table_even {
    background-color:#FAFFAB;
}

body footer{
    background-color: #FFDE00;
}
